#app {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
    padding: 2em;
}
#app h1,
#app h2,
#app h3,
#app h4,
#app h5,
#app h6,
#app strong {
  color: #cf000f;
}

#app a {
    color: rgb(77, 5, 232);
}
